@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}

/* shared style here  */


.paragraph {
    color: #fff;
    font-family: Inter;
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
}

.section-title {
    font-size: 2.75rem;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.card-heading {
    font-size: 22px;
    font-weight: bold;
    padding: 16px 0;
}

.card-bg {
    border-radius: 20px;
    background-color: #250D44;
    padding: 14px;
}

.width {
    width: 75%;
    margin: 0 auto;
}



/* nav style  */

.nav-content {
    display: flex;
    justify-content: space-between;

}

nav .nav-list {
    display: flex;
    font-size: 16px;
    list-style: none;
    padding: 20px;
}

nav .nav-list li a {
    padding: 15px;
}

.social-link .img {
    display: flex;
}

/* banner section  */

#banner {
    background: url("../assets/hero-bg.png") no-repeat center / cover;

    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* position: relative;
    border-top: 2px solid rgba(255, 255, 255, 0.068);
     /* width: 100%;  */
}

.banner_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    max-width: 550px;

}

.banner-microphone {
    position: absolute;
}


.banner-badge p {
    color: #1A0B2E;
    background-color: #00FF88;
    box-shadow: 0 3px 27px 0px #00ff8893;
    padding: 8px 20px;
    width: 70px;
    text-align: center;
    border-radius: 1000px;
}

.banner-badge {
    width: 105px;
    position: absolute;
    top: 0;
    right: 0;
}

.banner-circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    max-height: 450px;
}

.banner-title {
    font-weight: 800;
    font-size: 3.75rem;
    color: #ffffff;
    margin-bottom: 8px;
}

.banner-des {
    font-weight: 400;
    font-size: 1rem;
    color: #ffffffa2;
    padding-bottom: 20px;
}

.banner-button {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
}

.btn-secondary:hover {
    transform: scale(20deg)
}

.btn-secondary {
    transition: 100ms;
    cursor: pointer;
    padding: 12px 0px;
    border: 2px solid #00FF88;
    border-radius: 10000px;
    font-weight: 600;
    font-size: 1rem;
    color: #00FF88;
    background-color: rgba(255, 255, 255, 0);
}



.featured-section iframe {
    width: 260px;
    height: 120px;
}

.iframe-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}





/* card-choose section  */

.card-1 {
    grid-area: card-1;
}

.card-2 {
    grid-area: card-2;
}

.card-3 {
    grid-area: card-3;
}

.card-4 {
    grid-area: card-4;
}

.card-5 {
    grid-area: card-5;
}

.card-choose {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;

    grid-template-areas:
        "card-1 card-2 card-2"
        "card-1 card-3 card-3"
        "card-4 card-4 card-5"
}

.card {
    background-color: #351165;
    padding: 20px;
    border-radius: 40px;
    width: 100%;
}


.first-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-card img {
    height: 50px;
    width: 50px;
}


.host-container {
    display: flex;
    gap: 10px;
}

.social-icon {
    display: flex;
    gap: 10px;
}

.social-icon .icons {
    border: 1px #533C72 solid;
    padding: 10px;
    border-radius: 50px;
}

/* footer section design */

.footer {
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    width: 100%;
}

.footer .social-link {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 16px;
    padding-top: 30px;
    width: 620px;
    margin: auto;
    padding-bottom: 50px;
}

.footer .social-link img {
    height: 20px;
    width: 20px;
    padding: 3px;
}


/* responsive design  */


@media screen and (max-width: 576px) {


    /* shared style  */
    .card-choose {
        grid-template-columns: 1fr;
    }

    .card-choose {
        grid-template-areas:
            "card-1"
            "card-2"
            "card-3"
            "card-4"
            "card-5"
        ;
    }

    .about-grid,
    .footer .social-link {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 80px;
    }

    .section-title {
        font-size: 1.75rem;
        font-weight: bold;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 0px;
        padding: 30px;
    }

    .width {
        width: 100%;
    }

    .paragraph {
        opacity: 0.8;
    }

    /* navbar responsive  */
    nav .nav-list,
    .subscribe-div {
        display: none;
    }

    .nav-content {
        width: 100%;
        padding: 10px;
    }

    .nav-content h1 {
        font-size: 26px;
    }

    .nav-content .sidebar {
        display: block;
        padding: 20px;
        cursor: pointer;
    }


    /* header section responsive  */
    /* 
    #banner {
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    .circle-bg {
        width: 200px;
        transform: translate(-20%, 5%);
    }

    .microphone-img {
        width: 46px;
        transform: translate(-0%, -135%);
    }

    .new-btn {
        transform: translate(120%, -340%);
    }
    .header-text div {
        gap: 5px;
    }

    .header-text {
        transform: translate(260%, -40%);
        right: 560px;
    }

    .header-btn {
        transform: translate(-2460%, -40%);
        right: 560px;
        padding: 10px;
    }

    .header-btn button {
        padding: 5px 40px;
    } */

    /* banner section */

    /* .banner-container {
        text-align: center;
    }

    .banner-microphone {
        position: relative;
        left: 0px;
        bottom: 270px;
    } */

    /* card section  */
    .card-choose {
        grid-template-rows: 1fr;
        padding: 0 30px;
    }

    .banner-container {
        position: relative;
        left: 0px;
        top: 50px;
    }

    /* .banner-microphone {
        left: 0px;
        right: 300px;
        bottom: 270px;
    } */

    /* iframe section responsive  */
    .featured-section {
        padding: 30px;
    }

    .iframe-card .card-bg iframe {
        width: 100%;
        height: 200px;

    }

    .iframe-card {
        grid-template-columns: repeat(1, 1fr);
    }

    /* host section  */
    .host-section {
        padding: 30px;
    }

    .host-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-icon {
        justify-content: center;
    }

    /* footer section  */

    .footer {
        min-height: 45vh;
        padding-top: 10px;
    }

    .footer .section-title {
        padding: 14px;
    }

    .footer .social-link {
        padding: 5px;
        gap: 10px;
        width: 300px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
}