@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}

/* .paragraph{
    font-size: 16px;
    color: rgb(198, 181, 181);
} */

.width{
    width: 75%;
    margin: 0 auto;
}

/* #banner{
    background-image: url(/assets/hero-bg.png);
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
#banner .child-container{
    position: relative;
    left: 630px;
    top: 125px;
} */

.card{
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
}