@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}






/* shared style here  */


.paragraph {
    color: #fff;
    font-family: Inter;
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
}

.section-title {
    font-size: 2.75rem;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.card-heading {
    font-size: 22px;
    font-weight: bold;
    padding: 16px 0;
}

.card-bg {
    border-radius: 20px;
    background-color: #250D44;
    padding: 14px;
}

.width {
    width: 75%;
    margin: 0 auto;
}



/* nav style  */

.nav-content {
    display: flex;
    justify-content: space-between;

}

nav .nav-list {
    display: flex;
    font-size: 16px;
    list-style: none;
    padding: 20px;
}

nav .nav-list li a {
    padding: 15px;
}

.social-link .img {
    display: flex;
}


/* header section design  */

#banner {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.circle-bg {
    position: relative;
    /* top: 100%; */
    left: 37%;
    transform: translate(-0%, 10%);
}

.microphone-img {
    position: inherit;
    left: 37%;
    transform: translate(-28%, -125%);
}


.hero-img {
    position: relative;
}

.new-btn {
    position: inherit;
    color: black;
    background-color: #00FF88;
    border: none;
    border-radius: 8px;
    padding: 5px 14px;
    transform: translate(258%, -670%);
}

.header-text {
    position: inherit;
    text-align: center;
    transform: translate(8%, -80%);
    right: 560px;
}

.header-text h1 {
    font-size: 60px;
    font-weight: bolder;
}

.header-text p {
    opacity: 0.7;
}

.header-text div {
    position: inherit;
    left: 440px;
    top: 40px;
}

.card {
    background-color: #351165;
    padding: 20px;
    border-radius: 40px;
    width: 100%;
}

.first-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-card img {
    height: 50px;
    width: 50px;
}


.host-container {
    display: flex;
    gap: 10px;
}

.social-icon {
    display: flex;
    gap: 10px;
}

.social-icon .icons {
    border: 1px #533C72 solid;
    padding: 10px;
    border-radius: 50px;
}

/* footer section design */

.footer {
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    width: 100%;
}

.footer .social-link {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 16px;
    padding-top: 30px;
    width: 620px;
    margin: auto;
    padding-bottom: 50px;
}

.footer .social-link img {
    height: 20px;
    width: 20px;
    padding: 3px;
}


/* responsive design  */


@media screen and (max-width: 576px) {


    /* shared style  */
    .card-choose,
    .iframe-card {
        grid-template-columns: 1fr;
    }

    .about-grid,
    .footer .social-link {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 80px;
    }

    .section-title {
        font-size: 1.75rem;
        font-weight: bold;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 0px;
        padding: 30px;
    }

    .width {
        width: 100%;
    }

    .paragraph {
        opacity: 0.8;
    }

    /* navbar responsive  */
    nav .nav-list,
    .subscribe-div {
        display: none;
    }

    .nav-content {
        width: 100%;
        padding: 10px;
    }

    .nav-content h1 {
        font-size: 26px;
    }

    .nav-content .sidebar {
        display: block;
        padding: 20px;
        cursor: pointer;
    }


    /* header section responsive  */

    #banner {
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    .circle-bg {
        width: 200px;
        transform: translate(-20%, 5%);
    }

    .microphone-img {
        width: 46px;
        transform: translate(-0%, -135%);
    }

    .new-btn {
        transform: translate(120%, -340%);
    }

    /* .new-btn {
        padding: 5px 14px;
        transform: translate(258%, -670%);
    } */

    .header-text div{
        gap: 5px;
    }


    /* card section  */
    .card-choose {
        grid-template-rows: 1fr;
        padding: 0 30px;
    }

    /* iframe section responsive  */
    .featured-section {
        padding: 30px;
    }

    .iframe-card .card-bg iframe {
        width: 380px;
        height: 200px;

    }


    /* host section  */
    .host-section {
        padding: 30px;
    }

    .host-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-icon {
        justify-content: center;
    }

    /* footer section  */

    .footer {
        min-height: 45vh;
        padding-top: 10px;
    }

    .footer .section-title {
        padding: 14px;
    }

    .footer .social-link {
        padding: 5px;
        gap: 10px;
        width: 300px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
}