@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.paragraph {
    color:#fff;
    font-family: Inter;
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
}

.section-title{
    font-size: 44px;
    font-weight: bold;
    text-align: center;
}

.card-heading{
    font-size: 22px;
    font-weight: bold;
    padding: 16px 0 ;
}

.card-bg{
    border-radius: 20px;
    background-color: #250D44;
    padding: 10px;
}

.width {
    width: 75%;
    margin: 0 auto;
}

/* #banner{
    background-image: url(/assets/hero-bg.png);
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
#banner .child-container{
    position: relative;
    left: 630px;
    top: 125px;
} */

.card {
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
    width: 100%;
}

@media screen and (max-width: 576px) {
    .card-choose{
        grid-template-columns: 1fr;
    }
    .iframe-card{
        grid-template-columns: 1fr;
    }
}